.singleArticle {
    background: white;
    border-radius: 5px;
    margin: 20px;
    box-shadow: var(--shadow)
}

.articleList li{
    list-style: none;
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    margin: 10px
}


    