:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }

 ul{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
}

 li{
    
    background: lightgray;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.articleBox {
    border-radius: 5px;
    margin: 10px;
    box-shadow: var(--shadow)
}