:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }

 /* .articleList ul{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 10px;
} */

 /* .articleList li{
    list-style: none;
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    margin: 10px;
} */

.articleList {
    background: var(--dark);
    border-radius: 5px;
    box-shadow: var(--shadow);
    list-style: none;
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    margin: 10px;
}

.articleList li{
    background: white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: var(--shadow);
    list-style: none;
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem 2rem;
   
}