.singleArticle {
    background: white;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    border: 10px;
    font-size: 1.5vw;
    width: 90vw;
    margin: 10px auto;
}

.singleArticle h2 {
    font-size: 3vw
}

.singleArticle p {
    font-size: 2vw
}

.singleArticle h4 {
    font-size: 2vw
}



    