.commentCard {
        background: white;
        border-radius: 5px;
        margin: 10px;
        box-shadow: var(--shadow);
        list-style: none;
        text-align: center;
        border-radius: 10px;
        padding: 1.5rem 2rem; 
    }
