.commentAdder {
    margin: 20px;
    display: grid;
    grid-template-areas: 
    'form form form'
    'button';
    align-content: center

}

.commentAdder textarea {
    margin: 0 auto; 
    width: 30vw;
    height:20vw;
    font-size: 2vw;
    padding: 12px 20px;
    border: 3px solid darkgray;
}

.commentAdder button {
    background: var(--dark);
    border-radius: 5px;
    color: var(--light);
    padding: 0.5rem 0.5rem;
    border: 10px;
    font-size: 1.5vw;
    width: 20vw;
    margin: 5px auto;
    
}

.commentAdder button:hover {
    background: red;
    color: white;
}

@media (max-width: 600px) {
    .commentAdder textarea {
        font-size: 3.5vw;
        margin: 0 auto; 
        width: 40vw;
        height:30vw;
        font-size: 2vw;
        padding: 12px 20px;
    }

    .commentAdder button {
        background: var(--dark);
        border-radius: 5px;
        color: var(--light);
        padding: 0.5rem 0.5rem;
        border: 10px;
        font-size: 2.5vw;
        width: 30vw;
        margin: 5px auto;
    }
}