.homepage {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'h1'
        'img'
        'img'
        'img';
    background: rgb(236, 229, 197);
    border-radius: 10px;
    margin: 10px
  }

h1 {
    font-size: 50px
}

.img {
      width: 50vw;
      height: 40vw;
      border: 1px solid black;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: white;
      margin-left: auto;
      margin-right: auto;
}

/* .img2  {
      width: 50vw;
      height: 40vw;
      border: 1px solid black;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: white;
      margin-left: auto;
      margin-right: auto;}

.img3  {
      width: 50vw;
      height: 40vw;
      border: 1px solid black;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: white;
      margin-left: auto;
      margin-right: auto;
} */

@media (max-width: 600px) {
  .img1  {
    /* width: 50vw;
    height: 30vw;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    margin-left: auto;
    margin-right: auto; */
}
}