.navbar {
    background: rgb(228, 230, 217);
    border-radius: 10px;
    margin: 10px;
}

.navbar button {
    background: var(--dark);
    border-radius: 5px;
    color: var(--light);
    padding: 2vw 2vw;
    text-decoration: none;
    border: 10vw;
    margin: 5px;
    font-size: 2vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.navbar button:hover {
    background: red;
    color: white;
}