.voter button.enable_up {
    border-radius: 5px;
    color: var(--light);
    padding: 1vw 1vw;
    text-decoration: none;
    border: 5vw;
    margin: 5px;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.voter button.enable_down{
    border-radius: 5px;
    color: var(--light);
    padding: 1vw 1vw;
    text-decoration: none;
    border: 5vw;
    margin: 5px;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.voter button.disable_up{
    border-radius: 5px;
    color: var(--light);
    padding: 1vw 1vw;
    text-decoration: none;
    border: 5vw;
    margin: 5px;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 0.5;
}

.voter button.disable_down{
    border-radius: 5px;
    color: var(--light);
    padding: 1vw 1vw;
    text-decoration: none;
    border: 5vw;
    margin: 5px;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 0.5;
}

.voter h3 {
    grid-area: h3;
    justify-self: center;
}

@media (max-width: 600px) {
    .voter h3 {
        font-size: 3vw
    }
}